
@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	background: linear-gradient(135deg, #000000, #1a1a1a);
	color: #ffdd02;
	font-family: 'Gamja Flower', cursive;
	line-height: 1.6;
    overflow-x: hidden;
}

/* Cabeçalho fixo e moderno */
header#cabecalho{
	background: #ffdd02;
	backdrop-filter: blur(10px);
	width: 100%;
	margin-top: -10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0%;
	top: 0;
  	right: 0;
  	left: 0;
	z-index: 1000;
	box-shadow: 0 4px 20px rgba(0,0,0,0.5);
	transition: all 0.3s;
	
}

img#foto_cabecalho {
	width: 100%;
    height: 90vh;
	margin-top: 2px;
	margin-left: -10px;
   
}

nav#menu {
    padding: 1rem 0;
    text-align: center;
}

nav#menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

nav#menu li a {
    color: #000;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 50px;
    transition: all 0.4s;
    position: relative;
}

nav#menu li a:hover {
    background: #000;
    color: #ffdd02;
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(255,221,2,0.8);
}

/* Efeito de digitação no título (opcional, mas fica lindo) */
h1::after {
    content: '|';
    animation: piscar 1s infinite;
}

@keyframes piscar {
    50% { opacity: 0; }
}


footer#rodape{
	font-family: 'Roboto',sans-serif;
	width: 100%;
	height: 40px;
	text-align: center;
}

/* Rodapé moderno */
footer#rodape {
    color: #ffdd02;
    text-align: center;
    padding: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-top: 4rem;
}

/* Responsividade */
@media (max-width: 768px) {
    nav#menu ul { flex-direction: column; }
    nav#menu li a { font-size: 1.2rem; padding: 15px; }
}


/* artigos personagens*/

div#artigo_01{
	width: 100%;
	height: 400px;
	color: #ffdd02;
	display: flex;
	flex-direction: row;
	align-items: center; 
}

div#artigo_01 p{
	width: 35%;
	float: left;
	font-size: 16pt;
	margin-left: 2%;
	font-family: 'Roboto', sans-serif;
	text-align: justify;
	padding: 15px;
}



div#artigo_02{
	width: 100%;
	height: 400px;
	background-color: #ffdd02;
	color: black ;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}

div#artigo_02 p{
	width: 35%;
	font-size: 16pt;
	font-family: 'Roboto', sans-serif;
	text-align: justify;
	padding: 15px;
	display: block;
	float: right;
	margin-right: 2%;
}
div#artigo_02 img{
	float: right;
}


div#artigo_03{
	width: 100%;
	height: 400px;
	color: #ffdd02;
	display: flex;
	flex-direction: row;
	align-items: center; 
}
div#artigo_03 p{
	width: 45%;
	float: left;
	font-size: 14pt;
	margin-left: 2%;
	font-family: 'Roboto', sans-serif;
	text-align: justify;
	padding: 15px;
}



div#artigo_04{
	width: 100%;
	height: 400px;
	background-color: #ffdd02;
	color: black ;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}

div#artigo_04 p{
	width: 45%;
	font-size: 14pt;
	font-family: 'Roboto', sans-serif;
	text-align: justify;
	padding: 15px;
	display: block;
	float: right;
	margin-right: 2%;
}
div#artigo_04 img{
	float: right;
}



div#artigo_05{
	width: 100%;
	height: 400px;
	color: #ffdd02;
	display: flex;
	flex-direction: row;
	align-items: center; 
}
div#artigo_05 p{
	width: 45%;
	float: left;
	font-size: 14pt;
	margin-left: 2%;
	font-family: 'Roboto', sans-serif;
	text-align: justify;
	padding: 15px;
}


div#artigo_06{
	width: 100%;
	height: 400px;
	background-color: #ffdd02;
	color: black ;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}

div#artigo_06 p{
	width: 45%;
	font-size: 14pt;
	font-family: 'Roboto', sans-serif;
	text-align: justify;
	padding: 15px;
	display: block;
	float: right;
	margin-right: 2%;
}


.foto_artigo{
	width: 150px;
	height: 245px;
}

/* RODAPE*/

footer#rodape{
	font-family: 'Roboto',sans-serif;
	width: 100%;
	height: 40px;
	text-align: center;
}