@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	background: linear-gradient(135deg, #000000, #1a1a1a);
	color: #ffdd02;
	font-family: 'Gamja Flower', cursive;
	line-height: 1.6;
    overflow-x: hidden;
}

/* Cabeçalho fixo e moderno */
header#cabecalho{
	background: #ffdd02;
	backdrop-filter: blur(10px);
	width: 100%;
	margin-top: -10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0%;
	top: 0;
  	right: 0;
  	left: 0;
	z-index: 1000;
	box-shadow: 0 4px 20px rgba(0,0,0,0.5);
	transition: all 0.3s;
	
}

img#foto_cabecalho {
	width: 100%;
    height: 90vh;
	margin-top: 2px;
	margin-left: -10px;
   
}

nav#menu {
    padding: 1rem 0;
    text-align: center;
}

nav#menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

nav#menu li a {
    color: #000;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 50px;
    transition: all 0.4s;
    position: relative;
}

nav#menu li a:hover {
    background: #000;
    color: #ffdd02;
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(255,221,2,0.8);
}

/* Efeito de digitação no título (opcional, mas fica lindo) */
h1::after {
    content: '|';
    animation: piscar 1s infinite;
}

@keyframes piscar {
    50% { opacity: 0; }
}


footer#rodape{
	font-family: 'Roboto',sans-serif;
	width: 100%;
	height: 40px;
	text-align: center;
}

/* Rodapé moderno */
footer#rodape {
    color: #ffdd02;
    text-align: center;
    padding: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-top: 4rem;
}

ul#album{
	width: 80%;
	margin: 0 auto;
	padding: 50px;
	overflow: hidden;
}

ul#album li {
	float: left;
	width: 200px;
	height: 200px;
	margin: 10px;
	background-color: rgb(255,221,2);
	list-style: none;
	-webkit-transition: all 1s ease-in;
}

ul#album li#foto_01{
	background: url(../imagem/image1.jpg) no-repeat;
	background-position: 50% 50%;	
}
ul#album li#foto_02{
	background: url(../imagem/image3.jpg) no-repeat;
	background-position: 50% 50%;
}
ul#album li#foto_03{
	background: url(../imagem/image4.jpg) no-repeat;
	background-position: 50% 50%;
}
ul#album li#foto_04{
	background: url(../imagem/image5.jpg) no-repeat;
	background-position: 50% 50%;
}
ul#album li#foto_05{
	background: url(../imagem/image11.jpg) no-repeat;
	background-position: 50% 50%;
}
ul#album li#foto_06{
	background: url(../imagem/image12.png) no-repeat;
	background-position: 50% 50%;
}
ul#album li#foto_07{
	background: url(../imagem/image13.jpg) no-repeat;
	background-position: 50% 50%;
}
ul#album li#foto_08{
	background: url(../imagem/image14.jpg) no-repeat;
	background-position: 50% 50%;
}


/* Responsividade */
@media (max-width: 768px) {
    nav#menu ul { flex-direction: column; }
    nav#menu li a { font-size: 1.2rem; padding: 15px; }
}



/*hover*/

ul#album li#foto_01:hover{
	background: url(../imagem/image1.jpg) no-repeat;
	background-color: black;
	background-position: 50% 50%;
	-webkit-transform: scale(1.5);
}
ul#album li#foto_02:hover{
	background: url(../imagem/image3.jpg) no-repeat;
	background-position: 50% 50%;
	-webkit-transform: scale(1.5);
	background-color: black;

}
ul#album li#foto_03:hover{
	background: url(../imagem/image4.jpg) no-repeat;
	background-position: 50% 50%;
	-webkit-transform: scale(1.5);

}
ul#album li#foto_04:hover{
	background: url(../imagem/image5.jpg) no-repeat;
	background-position: 50% 50%;
	-webkit-transform: scale(1.5);

}
ul#album li#foto_05:hover{
	background: url(../imagem/image11.jpg) no-repeat;
	background-position: 50% 50%;
	-webkit-transform: scale(1.5);

}
ul#album li#foto_06:hover{
	background: url(../imagem/image12.png) no-repeat;
	background-position: 50% 50%;
	-webkit-transform: scale(1.5);

}
ul#album li#foto_07:hover{
	background: url(../imagem/image13.jpg) no-repeat;
	background-position: 50% 50%;
	-webkit-transform: scale(1.5);

}
ul#album li#foto_08:hover{
	background: url(../imagem/image14.jpg) no-repeat;
	background-position: 50% 50%;
	-webkit-transform: scale(1.5);

}

footer#rodape{
	font-family: 'Roboto',sans-serif;
	width: 100%;
	height: 40px;
	text-align: center;
}
