@charset="utf-8";
@import url('https://fonts.googleapis.com/css?family=Gamja+Flower');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {

	background-color: black;
	color: rgb(255,221,2);
	font-family: 'Gamja Flower', cursive;
}
header#cabecalho{
	background-color: rgb(255,221,2);
	width: 100%;
	margin-top: -10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0%;
	top: 0;
  	right: 0;
  	left: 0;
}

img#foto_cabecalho {

	width: 70%;
	height: 350px;
	margin-top: 2px;
	margin-left: -10px;
}

nav#menu ul{
	background-color: rgb(255,221,2);
	width: 100%;
	
}
nav#menu li{
	display: inline-block;
	padding: 20px;
	font-size: 16pt;
	
}
nav#menu li a{
	text-decoration: none;
	color: black;
}
nav#menu li:hover{
	background-color: #ffffff;
	transition-duration: 1s;
}
h1,h2,h3{
	font-family: 'Roboto', sans-serif; 
	margin-left: 5%;
}
h1{
	font-size: 16pt;
}
h2{
	font-size: 14pt;
}
h3{
	font-size: 12pt;
}
a{
	text-decoration: none;
	color: rgb(255,221,2);
}


footer#rodape{
	font-family: 'Roboto',sans-serif;
	width: 100%;
	height: 40px;
	text-align: center;
}